.mb24{
    margin-bottom: 24px;
}
.DirectBtn{
    margin-top: -20px;
    padding-bottom: 20px;
    text-align: right;
    color: #BFBFBF;
    a{
       color:#BFBFBF
    }
}
.pt32{
    padding-top: 32px;
}
.pt10{
    padding-top: 10px;
}